<div class="ui top fixed inverted sidebar menu visible">
  <div class="ui container">
    <a class="header item" routerLink="/">ViewHub</a>
    <a class="item" routerLink="/v/all" routerLinkActive="active">All</a>
    <a class="item" routerLink="/u" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Members</a>
    <div class="ui scrolling dropdown item" *ngIf="authService.loggedIn()">
      My Views
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" *ngFor="let subscription of subscriptions" routerLink="/v/{{ subscription.name }}"><span class="subscription">{{ subscription.name }}</span></div>
        <div class="item" *ngIf="!subscriptions?.length" (click)="searchBox.focus()"><span class="subscription empty">Search and subscribe!</span></div>
      </div>
    </div>
    <div class="right menu">
      <div class="item">
        <form autocomplete="off" (ngSubmit)="search()">
          <div class="ui inverted transparent icon input">
            <input #searchBox [(ngModel)]="q" id="query" name="query" type="text" placeholder="Search..." required>
            <i class="search link icon" (click)="search()"></i>
          </div>
        </form>
      </div>
      <a class="ui item" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="ui item" *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
      <div class="ui dropdown item" *ngIf="authService.loggedIn()">
        <i class="user icon"></i>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" routerLink="/u/{{ username }}"><span class="subscription">
            <i class="address card icon"></i>Profile
          </span></div>
          <div class="item" (click)="authService.logoutUser()"><span class="subscription">
            <i class="power off icon"></i>Logout
          </span></div>
        </div>
      </div>
    </div>
  </div>
</div>
