<div class="subtidder header" *ngIf="!subtidderDoesNotExist && subtidderLoaded">
    <div class="header">
        <h2>
            <span class="grey text">/t/</span>{{ subtidderData.name }}
        </h2>

        &nbsp;

        <span *ngIf="authService.loggedIn() && !isAll">
            <button class="ui circular icon mini button"
                    [class.green]="!isSubscribed"
                    [class.red]="isSubscribed"
                    (click)="isSubscribed ? unsubscribe() : subscribe()">
                <i class="icon" [class.plus]="!isSubscribed" [class.minus]="isSubscribed"></i>
            </button>

            <button class="ui positive right floated right labeled icon button"
                    #addPostToSubtidderButton>
                Add Post<i class="plus icon"></i>
            </button>
        </span>
    </div>

    <app-add-post *ngIf="!isAll" [subtidder]="subtidder"></app-add-post>

    <h5 *ngIf="!isAll">
        <span class="preline">{{ subtidderData.description }}</span>
        <span class="grey text">
            - created {{ subtidderData.creation_date }} by
            <a class="link to user profile" routerLink="/u/{{ subtidderData.creator }}">{{ subtidderData.creator }}</a>
        </span>
    </h5>

    <app-list-of-posts [posts]="posts" [pages]="pages" [currentPage]="currentPage"></app-list-of-posts>
</div>

<app-loader *ngIf="!subtidderLoaded"></app-loader>

<div *ngIf="subtidderLoaded">
    <app-error-message *ngIf="!posts?.length && !subtidderDoesNotExist"
        header="There doesn't seem to be any posts on /t/{{ subtidder }} at the moment."
        message="You can change that!">
    </app-error-message>

    <app-error-message *ngIf="subtidderDoesNotExist"
        header="There's no subtidder with the name &quot;{{ subtidder }}&quot;."
        message="Go on and create it!">
    </app-error-message>
</div>
