<h2 [hidden]="!postService.subtidderLoaded">
    <span class="subtidder">/t/</span>{{ subtidder }}
    <button *ngIf="authService.loggedIn() && subtidder !== 'all' && !postService.subtidderDoesNotExist" class="ui positive right floated right labeled icon button" #addPostToSubtidderButton>Add Post<i class="plus icon"></i></button>
    <app-add-post [subtidder]="subtidder"></app-add-post>
</h2>

<app-list-of-posts [componentName]="this.constructor.name" [subtidder]="subtidder"></app-list-of-posts>
<app-loader *ngIf="!postService.subtidderLoaded"></app-loader>

<div *ngIf="postService.subtidderLoaded">
    <app-error-message *ngIf="!postService.subtidderPosts?.length && !postService.subtidderDoesNotExist"
        header="There doesn't seem to be any posts on /t/{{ subtidder }} at the moment."
        message="You can change that!">
    </app-error-message>

    <app-error-message *ngIf="postService.subtidderDoesNotExist"
        header="There's no subtidder with the name &quot;{{ subtidder }}&quot;."
        message="You can change that!">
    </app-error-message>
</div>
