<div class="subtidder header" [hidden]="!postService.subtidderLoaded" *ngIf="!postService.subtidderDoesNotExist">
    <h2>
        <span class="grey text">/t/</span>{{ subtidderData.name }}
        <button *ngIf="authService.loggedIn() && subtidder !== 'all'" class="ui circular icon mini button" [class.green]="!isSubscribed" [class.red]="isSubscribed">
            <i class="icon" [class.plus]="!isSubscribed" [class.minus]="isSubscribed"></i>
        </button>
        <button *ngIf="authService.loggedIn() && subtidder !== 'all'" class="ui positive right floated right labeled icon button" #addPostToSubtidderButton>Add Post<i class="plus icon"></i></button>
        <app-add-post [subtidder]="subtidder"></app-add-post>
    </h2>
    <h5 *ngIf="subtidder !== 'all'">
        <span class="subtidder description post content">{{ subtidderData.description }}</span>
        <span class="grey text">
            - created {{ subtidderData.creation_date }} by
            <span class="link to user profile" routerLink="/u/{{ subtidderData.creator }}">{{ subtidderData.creator }}</span>
        </span>
    </h5>
</div>

<app-list-of-posts [componentName]="this.constructor.name" [subtidder]="subtidder"></app-list-of-posts>
<app-loader *ngIf="!postService.subtidderLoaded"></app-loader>

<div *ngIf="postService.subtidderLoaded">
    <app-error-message *ngIf="!postService.subtidderPosts?.length && !postService.subtidderDoesNotExist"
        header="There doesn't seem to be any posts on /t/{{ subtidder }} at the moment."
        message="You can change that!">
    </app-error-message>

    <app-error-message *ngIf="postService.subtidderDoesNotExist"
        header="There's no subtidder with the name &quot;{{ subtidder }}&quot;."
        message="Go on and create it!">
    </app-error-message>
</div>
