<h2 [hidden]="!postService.subtidderLoaded">
    <span class="subtidder">/t/</span>{{ subtidder }}
    <button class="ui positive right floated right labeled icon button" #addPostToSubtidderButton>Add Post<i class="plus icon"></i></button>
    <app-add-post-to-subtidder [subtidder]="subtidder"></app-add-post-to-subtidder>
</h2>

<app-list-of-posts [componentName]="this.constructor.name" [subtidder]="subtidder"></app-list-of-posts>
<app-loader *ngIf="!postService.subtidderLoaded"></app-loader>

<app-error-message *ngIf="postService.subtidderLoaded && !postService.subtidderPosts?.length"
     header="There doesn't seem to be any posts on /t/{{ subtidder }} at the moment."
     message="You can change that!">
</app-error-message>
