<div class="ui medium modal" id="addpost">
    <div class="header">
        Add Post<span *ngIf="subtidder"> to <span class="subtidder">/t/</span>{{ postData.subtidder }}</span>
    </div>

    <div class="content">
        <div class="ui form">
            <h4 class="ui dividing header">Both title and content are required.</h4>

            <form #postForm="ngForm" autocomplete="off" (ngSubmit)="submitPost()">

                <div class="field" *ngIf="!subtidder">
                    <label>Subtidder</label>
                    <select class="ui search dropdown"
                            [(ngModel)]="postData.subtidder"
                            id="select-subtidder"
                            name="subtidder"
                            required>
                        <option value="" disabled>Choose a subtidder</option>
                        <option *ngFor="let subtidder of subtidders">{{ subtidder }}</option>
                    </select>
                </div>

                <div class="field">
                    <label>Title</label>
                    <input [(ngModel)]="postData.title"
                            type="text"
                            name="title"
                            placeholder="Title"
                            pattern=".{1,300}"
                            required>
                </div>

                <div class="field">
                    <label>Content</label>
                    <textarea [(ngModel)]="postData.content"
                            name="content"
                            placeholder="Content"
                            maxlength="40000"
                            required></textarea>
                </div>

                <div class="actions">
                    <div class="ui buttons">
                        <button type="button" class="ui red cancel button" (click)="makeNewPost()">Cancel</button>
                        <div class="or"></div>
                        <button type="submit" class="ui green ok button" [disabled]="postForm.form.invalid">Submit</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
