<div *ngIf="authService.loggedIn()">

    <app-loader *ngIf="!homeLoaded"></app-loader>

    <div *ngIf="homeLoaded">
        <div class="header">
            <h2>Hello, {{ authService.getName() }}.</h2>
            <button class="ui positive right labeled right floated icon button" id="addPostButton" #addPostButton>Add Post<i class="plus icon"></i></button>
        </div>

        <app-add-post></app-add-post>

        <app-list-of-posts [posts]="posts" [pages]="pages" [currentPage]="currentPage"></app-list-of-posts>

        <app-error-message *ngIf="!posts?.length && !userService.noSubscriptions"
            header="There doesn't seem to be any posts from your subscribed subtidders at the moment."
            message="Subscribe to others to populate your feed!">
        </app-error-message>

        <app-error-message *ngIf="userService.noSubscriptions"
            header="You aren't subscribed to any subtidders, so there are no posts."
            message="Subscribe to some to populate your feed!">
        </app-error-message>
    </div>
</div>

<div *ngIf="!authService.loggedIn()">
    <div class="ui main text container">
        <div class="ui warning message">
            <div class="content">
                <div class="header">Welcome to Tidder!</div>
                <p>
                    <a routerLink="/login">Click here</a> to log in.<br>
                    <a routerLink="/register">Click here</a> to register.<br>
                    <a routerLink="/t/all">Click here</a> to visit /t/all.
                </p>
            </div>
        </div>
    </div>
</div>