<div class="main">
  <div class="column">
    <h2>Create a View</h2>

    <form class="ui form" #viewForm="ngForm" (ngSubmit)="createView()" autocomplete="off">
    
      <div class="field">
        <label>Name</label>
        <input [(ngModel)]="viewData.name"
                #viewNameInput
                type="text"
                name="name"
                id="name"
                placeholder="Name"
                pattern=".{3,20}"
                (input)="nameInvalid = false"
                required>
        <div class="ui red pointing label" *ngIf="nameInvalid">
          View with this name already exists.
        </div>
      </div>
    
      <div class="field">
        <label>Description</label>
        <textarea [(ngModel)]="viewData.description"
                  name="description"
                  id="description"
                  placeholder="Description"
                  maxlength="500"
                  required></textarea>
      </div>

      <button class="ui black button" type="submit" [disabled]="viewForm.form.invalid">Create</button>

    </form>

  </div>
</div>
