<form>
    <div class="ui medium modal" id="addpost">
        <div class="header">Add Post</div>
        <div class="content">
            <div class="ui form">
                <h4 class="ui dividing header">Both title and content are required.</h4>
                <div class="field">
                    <label>Title</label>
                    <input type="text" placeholder="Title">
                </div>
                <div class="field">
                    <label>Content</label>
                    <textarea placeholder="Content"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red cancel button">
                <i class="remove icon"></i>Cancel
            </div>
            <div class="ui green ok button">
                <i class="checkmark icon"></i>Submit
            </div>
        </div>
    </div>
</form>