<div class="ui top inverted very wide sidebar menu visible">
  <div class="header item">Tidder</div>
  <a class="item">Home</a>
  <a class="item">All</a>
  <div class="ui dropdown item">
    My Subtidders
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item">One</div>
        <div class="item">Two</div>
        <div class="item">Three</div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui inverted transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">Login</a>
    <a class="ui item">Register</a>
  </div>
</div>

<div class="ui container">
  <router-outlet></router-outlet>
</div>
