.post.of.comment {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ui.comments {
    max-width: 100%;
}

.link.to.post {
    margin-bottom: 0.2rem;
}

.no.comments {
    text-align: center;
}
