<div class="ui comments" *ngIf="!noComments">
	<div class="comment" *ngFor="let comment of comments">
		<div class="content">
			<a class="author link to user profile" routerLink="/u/{{ comment.author }}">{{ comment.author }}</a>
			<div class="metadata">
				<span class="date">{{ comment.pub_date }}</span>
			</div>
			<div class="text preline">{{ comment.body }}</div>
			<div class="actions" *ngIf="authService.loggedIn() && comment.author_id == authService.getId()">
				<a>Edit</a>
				<a>Delete</a>
			</div>
		</div>
	</div>
</div>

<div class="no comments" *ngIf="noComments">
	<span class="grey text">There seems to be nothing here...</span>
</div>
