<div class="ui medium modal" id="editpost">
	<div class="header">Edit Post</div>

	<div class="content">
		<div class="ui form">
			<h4 class="ui dividing header">The title cannot be modified.</h4>

			<form #postForm="ngForm" autocomplete="off" (ngSubmit)="editPost()">

				<div class="field">
					<label>Subtidder</label>
					<input [(ngModel)]="postEditData.subtidder"
							type="text"
							name="subtidder"
							id="subtidder"
							pattern=".{3,20}"
							disabled
							required>
				</div>

				<div class="field">
					<label>Title</label>
					<input [(ngModel)]="postEditData.title"
							type="text"
							name="title"
							id="title"
							pattern=".{1,300}"
							disabled
							required>
				</div>

				<div class="field">
					<label>Content</label>
					<textarea [(ngModel)]="editContent"
							name="content"
							id="content"
							placeholder="Content"
							maxlength="40000"
							required></textarea>
				</div>

				<div class="actions">
					<div class="ui buttons">
						<button type="button" class="ui red cancel button">Cancel</button>
						<div class="or"></div>
						<button type="submit" class="ui green ok button" [disabled]="postForm.form.invalid">Submit</button>
					</div>
				</div>

			</form>

		</div>
	</div>
</div>