<div class="ui link cards" *ngIf="userService.listOfUsersLoaded">
  <div class="card" *ngFor="let user of users" routerLink="/u/{{ user.username }}">
    <div class="image">
      <img src="{{ user.image }}" alt="profile picture">
    </div>
    <div class="content">
      <div class="header">{{ user.full_name }}</div>
      <div class="meta">Joined {{ user.join_date }}</div>
      <div class="description">Contact {{ user.username }} at {{ user.email }}.</div>
    </div>
  </div>
</div>

<app-loader *ngIf="!userService.listOfUsersLoaded"></app-loader>
