<h1 class="ui dividing header" *ngIf="subtidders.length">Subtidders</h1>

<div class="ui divided items" *ngIf="subtidders.length">
  <div class="item" *ngFor="let subtidder of subtidders">
    <div class="content">
      <div class="header"><span class="link to subtidder" routerLink="/t/{{ subtidder.name }}">{{ subtidder.name }}</span></div>
      <div class="meta">Created {{ subtidder.creation_date }}</div>
      <div class="description">
        <p>{{ subtidder.description }}</p>
      </div>
    </div>
  </div>
</div>

<h1 class="ui dividing header" *ngIf="posts.length">Posts</h1>

<div class="ui divided items" *ngIf="posts.length">
  <div class="item" *ngFor="let post of posts">
    <div class="content">
      <div class="header link to post" routerLink="/t/comments/{{ post.id }}">{{ post.title }}</div>
      <div class="meta">{{ post.pub_date }}</div>
      <div class="description">
        <p class="post content">{{ post.content }}</p>
      </div>
    </div>
  </div>
</div>

<app-error-message *ngIf="isLoaded && !subtidders.length && !posts.length"
    header="Your search didn't return any results."
    message="Try searching for something else!">
</app-error-message>

<app-loader *ngIf="!isLoaded"></app-loader>
