<h1 class="ui dividing header" *ngIf="subtidders.length">Subtidders</h1>

<div class="ui divided items" *ngIf="subtidders.length">
  <div class="item" *ngFor="let subtidder of subtidders">
    <div class="content">
      <div class="header"><a class="link to subtidder" routerLink="/t/{{ subtidder.name }}">{{ subtidder.name }}</a></div>
      <div class="meta">Created {{ subtidder.creation_date }} by <a class="ui link to user profile" routerLink="/u/{{ subtidder.creator }}">{{ subtidder.creator }}</a></div>
      <div class="description">
        <p class="preline">{{ subtidder.description }}</p>
      </div>
    </div>
  </div>
</div>

<h1 class="ui dividing header" *ngIf="posts.length">Posts</h1>

<div class="ui divided items" *ngIf="posts.length">
  <div class="item" *ngFor="let post of posts">
    <div class="content">
      <div class="header"><a routerLink="/t/comments/{{ post.id }}">{{ post.title }}</a></div>
      <div class="meta">
        {{ post.pub_date }} by <a class="ui link to user profile" routerLink="/u/{{ post.author }}">{{ post.author }}</a>
        <a class="ui right floated link to subtidder" routerLink="/t/{{ post.subtidder }}">{{ post.subtidder }}</a>
      </div>
      <div class="description">
        <p class="post content preline">{{ (post.content.length > 200) ? (post.content | slice:0:200) + '...' : (post.content) }}</p>
      </div>
    </div>
  </div>
</div>

<app-error-message *ngIf="isLoaded && !subtidders.length && !posts.length"
    header="Your search didn't return any results."
    message="Try searching for something else!">
</app-error-message>

<app-loader *ngIf="!isLoaded"></app-loader>
