<h1 class="ui dividing header" *ngIf="views.length">Views</h1>

<div class="ui divided items" *ngIf="views.length">
  <div class="item" *ngFor="let view of views">
    <div class="content">
      <div class="header"><a class="link to view" routerLink="/v/{{ view.name }}">{{ view.name }}</a></div>
      <div class="meta">Created {{ view.creation_date }} by <a class="ui link to user profile" routerLink="/u/{{ view.creator }}">{{ view.creator }}</a></div>
      <div class="description">
        <p class="preline">{{ view.description }}</p>
      </div>
    </div>
  </div>
</div>

<h1 class="ui dividing header" *ngIf="posts.length">Posts</h1>

<div class="ui divided items" *ngIf="posts.length">
  <div class="item" *ngFor="let post of posts">
    <div class="content">
      <div class="header"><a routerLink="/v/comments/{{ post.id }}">{{ post.title }}</a></div>
      <div class="meta">
        {{ post.pub_date }} by <a class="ui link to user profile" routerLink="/u/{{ post.author }}">{{ post.author }}</a>
        <a class="ui right floated link to view" routerLink="/v/{{ post.view }}">{{ post.view }}</a>
      </div>
      <div class="description">
        <p class="justify preline">{{ (post.content.length > 200) ? (post.content | slice:0:200) + '...' : (post.content) }}</p>
      </div>
    </div>
  </div>
</div>

<app-error-message *ngIf="isLoaded && !views.length && !posts.length"
    header="Your search didn't return any results."
    message="Try searching for something else!">
</app-error-message>

<app-loader *ngIf="!isLoaded"></app-loader>
