<div class="header" *ngIf="!viewDoesNotExist && viewLoaded">
    <div class="view header">
        <h2 class="ui dividing header">
            <div class="content">
                <span class="grey text">/v/</span>{{ viewData.name }}
                <div class="sub header">
                    <div *ngIf="!isAll">
                        <span class="preline">{{ viewData.description }}</span>
                        <span class="grey text">
                            - created {{ viewData.creation_date }} by
                            <a class="link to user profile" routerLink="/u/{{ viewData.creator }}">{{ viewData.creator }}</a>
                        </span>
                    </div>
                </div>
            </div>
        </h2>

        <div class="buttons" *ngIf="authService.loggedIn() && !isAll">
            <button class="ui left floated labeled icon button"
                    [class.green]="!isSubscribed"
                    [class.red]="isSubscribed"
                    (click)="isSubscribed ? unsubscribe() : subscribe()">
                <i class="icon" [class.plus]="!isSubscribed" [class.minus]="isSubscribed"></i>{{ isSubscribed ? 'Unsubscribe' : 'Subscribe' }}
            </button>

            <button class="ui positive right floated right labeled icon button"
                    #addPostToViewButton>
                Add Post<i class="plus icon"></i>
            </button>
        </div>
    </div>

    <app-add-post *ngIf="!isAll && authService.loggedIn()" [view]="viewData.name"></app-add-post>
    <app-list-of-posts [posts]="posts" [pages]="pages" [currentPage]="currentPage"></app-list-of-posts>
</div>

<app-loader *ngIf="!viewLoaded"></app-loader>

<div *ngIf="viewLoaded">
    <app-error-message *ngIf="!posts?.length && !viewDoesNotExist"
        header="There doesn't seem to be any posts on /v/{{ view }} at the moment."
        message="You can change that!">
    </app-error-message>

    <app-error-message *ngIf="viewDoesNotExist"
        header="There's no view with the name &quot;{{ view }}&quot;."
        message="Go on and create it!">
    </app-error-message>
</div>
