/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.link.to.user.profile,
.link.to.subtidder {
    color: #2284d1;
    cursor: pointer;
    outline: none;
}

.link.to.user.profile:hover,
.link.to.user.profile:active {
    text-decoration: underline;
}

.subtidder {
    color: rgba(0, 0, 0, 0.4)
}

.edit.icon, .trash.icon {
    cursor: pointer;
}
