/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.preline {
    white-space: pre-line;
}

.justify {
    text-align: justify;
}

.link.to.post,
.link.to.user.profile,
.link.to.view {
    color: #2284d1;
    cursor: pointer;
    outline: none;
}

.link.to.post {
    color: black;
}

.link.to.post:hover,
.link.to.post:active,
.link.to.user.profile:hover,
.link.to.user.profile:active,
.link.to.view:hover,
.link.to.view:active {
    text-decoration: underline;
}

.small.text {
    font-size: 1rem;
}

.grey.text {
    color: rgba(0, 0, 0, 0.4)
}
