.content > p {
    white-space: pre-line;
}

.subtidder {
    color: rgba(0, 0, 0, 0.4)
}

div.pagination > a.item.active {
    cursor: default;
    pointer-events: none;
}

.edit.icon, .trash.icon {
    cursor: pointer;
}
