<h2  *ngIf="authService.loggedIn()" [hidden]="!postService.homeLoaded">
    Hello, {{ authService.getName() }}.
    <button class="ui positive right floated right labeled icon button" #addPostButton>Add Post<i class="plus icon"></i></button>
</h2>

<app-list-of-posts [componentName]="this.constructor.name"></app-list-of-posts>
<app-loader *ngIf="!postService.homeLoaded"></app-loader>

<app-error-message *ngIf="postService.homeLoaded && !postService.allPosts?.length"
    header="There doesn't seem to be any posts at the moment."
    message="Is the website dead?">
</app-error-message>
