<div *ngIf="authService.loggedIn()">
    <h2>
        Hello, {{ authService.getName() }}.
        <button class="ui positive right floated right labeled icon button" #addPostButton>Add Post<i class="plus icon"></i></button>
    </h2>
    <app-add-post></app-add-post>
</div>

<div class="ui red icon message" *ngIf="isLoaded && !posts.length">
  <i class="frown outline icon"></i>
  <div class="content">
    <div class="header">There doesn't seem to be any posts at the moment.</div>
    <p>Is the website dead?</p>
  </div>
</div>

<div class="ui fluid black card" *ngFor="let post of posts; let i = index">
  <div class="content">
      <div class="header">
          {{ post.title }}
      </div>
      <div class="meta">
          {{ post.pub_date }} by {{ post.author }}
      </div>
  </div>
  <div class="content">
      <p>{{ post.content }}</p>
  </div>
  <div class="content extra">
      <button class="ui mini black basic button">Read More</button>
      <span *ngIf="authService.loggedIn() && post.author_id == authService.getId()" class="right floated">
          <i class="big black edit alternate outline icon"></i>
          <i class="big black trash alternate outline icon" (click)="setPostToDelete(post)"></i>
          <app-delete-post></app-delete-post>
      </span>
  </div>
</div>

<div class="ui right floated pagination menu" *ngIf="posts.length">
    <a class="item"
        *ngFor="let page of pages"
        (click)="navigateToPage($event.target.innerText)"
        [class.active]="page == currentPage">{{ page }}</a>
</div>