<div *ngIf="authService.loggedIn()">
  <app-edit-post></app-edit-post>
  <app-delete-post></app-delete-post>
</div>

<div class="ui fluid black card" *ngFor="let post of posts; let i = index">
  <div class="content">
    <div class="header">
      <div class="ui grid">
        <div class="column fourteen wide">
          <span class="link to post" routerLink="/t/comments/{{ post.id }}">{{ post.title }}</span>
        </div>
        <div class="column two wide right aligned" *ngIf="authService.loggedIn() && post.author_id == authService.getId()">
          <i class="black edit alternate outline icon" (click)="postService.setPostToEdit(post)"></i>
          <i class="black trash alternate outline icon" (click)="postService.setPostToDelete(post)"></i>
        </div>
      </div>
    </div>
    <div class="meta post information">
      {{ post.pub_date }} by
      <span class="link to user profile" routerLink="/u/{{ post.author }}">{{ post.author }}</span>
      <span class="ui right floated link to subtidder" routerLink="/t/{{ post.subtidder }}">{{ post.subtidder }}</span>
    </div>
  </div>
  <div class="content">
    <p class="post content preline">{{ (post.content.length > 200) ? (post.content | slice:0:200) + '...' : (post.content) }}</p>
  </div>
</div>

<div class="ui right floated pagination menu" *ngIf="posts.length">
  <a class="item" *ngFor="let page of pages" (click)="navigateToPage($event.target.innerText)" [class.active]="page == currentPage">{{ page }}</a>
</div>
