<div class="main">
  <div class="column">
    <h3>Sign Up for an Account</h3>

    <form #userForm="ngForm" class="ui form" autocomplete="off" (ngSubmit)="registerUser()">
      <div class="three fields">
        <div class="field">
          <label for="firstname">First name</label>
          <input [(ngModel)]="userData.firstName"
                #firstNameInput
                type="text"
                name="firstname"
                id="firstname"
                placeholder="First name"
                pattern=".{2,}"
                required>
        </div>
        <div class="field">
          <label for="lastname">Last name</label>
          <input [(ngModel)]="userData.lastName"
                type="text"
                name="lastname"
                id="lastname"
                placeholder="Last name"
                pattern=".{2,}"
                required>
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input [(ngModel)]="userData.email"
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                required>
        </div>
      </div>
      <div class="field">
        <label for="username">Username</label>
        <input [(ngModel)]="userData.username"
                type="text"
                name="username"
                id="username"
                placeholder="Username"
                pattern=".{4,}"
                (input)="usernameTaken = false"
                required>
        <div class="ui red pointing label" *ngIf="usernameTaken">
            This username is taken.
        </div>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input [(ngModel)]="userData.password"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                pattern=".{4,}"
                required>
      </div>
      <button class="ui black button" type="submit" [disabled]="userForm.form.invalid">Submit</button>
    </form>

    <div class="ui warning message">
      <p>Already have an account? <a routerLink='/login'>Sign in.</a></p>
    </div>

  </div>
</div>
